@page
@model ContactRequest
@{
    ViewData["title"] = "lien he";
}
@functions {
    string name = "hiasddeu";
}

<h1 class="display-4">Trang liên hệ</h1>
<p class="lead">Điền các thông tin liên hệ</p>

@Model.UserId